@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 3 */
.btn-3 {
  background: #24bd24;
  color: #fff;
}

.btn-3:hover {
  background: #f29e0d;
}

.btn-3:active {
  background: #f58500;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.btn-3e {
  padding: 20px 50px 20px 50px;
  overflow: hidden;
}

.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
}

.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.btn-3e:hover:after {
  width: 40%;
}

.icon-arrow-right:before {
  content: "";
}

.fontMe {
  font-family: "Sigmar One", cursive;
  text-align: left;
}

#container {
  height: 100%;
  width: 100%;
}
#left,
#middle,
#right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
#left {
  width: 25%;
  font-size: 50px;
  padding-left: 20px;
}
#middle {
  width: 50%;
}
#right {
  width: 25%;
}

.form-elements {
  margin: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
}

.edit {
	border: none;
	font-family: inherit;
	font-size: 14px;
	color: inherit;
	background: none;
	padding: 10px 10px;
	display: inline-block;
	margin: 10px 10px;
	letter-spacing: 0.5px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }

  .edit:hover{
	  color:red;
	  
  }